$heroGreen: #1c5c42;
$heroGreenTransparent: #1c5c42bd;
$darkGreen: #153b2c;
$gold: #e1b500;
$navy: #263547;
$navyTransparent: #334f7069;
$darkGrey: #95a5a6;
$lightGrey: #f9f9f9;
$lighterGrey: #fdfdfd;
$navDark: #25272b;
$redText: #ac1212